@page "/"
@inject IJSRuntime JSRuntime

<PageTitle>Home</PageTitle>

<div id="faceContainer"></div>
<button @onclick="CreateFaceAsync">Create Face</button>


@code {
    private async Task CreateFaceAsync()
    {

        await JSRuntime.InvokeVoidAsync("facesInterop.createFace", "faceContainer");
    }
}